/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Balsamiq Sans;
  color: black;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #12395d;
  border: 3px solid white; 
  height: 10%;
}
.header img{
  padding: .1em;
  margin: .1em;
}
.main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  padding: 0%;
  margin: 0%;
  background-color: white;
}
.amain{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  padding: 0%;
  margin: 0%;
  background-color: white;
}
.hp1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: white;
}
.b{

}
.nav li{
  display: inline;
}
.nav{
  text-align: right;
  font-size: 1.1em;
  font-weight: lighter;
  text-decoration: underline;
}
.nav a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: .5em;
  padding-bottom: 0;
  padding-top: 0;
}
.nav a:hover{
  background-color: rgba(255, 255, 255, .4);
  text-decoration: underline;
}
.main img {
  width: 225px;
  height: 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1%;
  margin: 1%;
  border-radius: 50%;
}
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.5;
}
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  height: 45px;
  width: 170px;
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  height: 45px;
  width: 170px;
}
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
.footer{
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  width: inherit;
  border: 3px solid white; 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12395d;
  padding: .25em 0;
  height: 20%;
}
.footer p{
  color: white;
  padding: 0;
  margin: 0;
  padding-top: 1%;
  width: 100px;
  text-align: center;
}
.nav-footer ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style-type: none;
}
/* About page style */
.amain {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.about-ul{
  list-style-type: none;
}
.table{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  border-bottom: 15px;
}
.PS{
  text-decoration: underline;
}
.contact {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.cs:hover{
  color: red;
}
.cs:visited{
  color: green;
}
.d1{
  text-align: left;
}
.h2{
  text-decoration: underline;
}
/*
.grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  grid-gap: 20px;
  margin: 0;
}
.grid__item {
  background-color: antiquewhite;
  display: inline-block;
  width: auto;
  padding: 15px;
  text-align: center;
}
*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: antiquewhite;
  text-align: center;
}
.m1{
  height: 70%;
  padding: 0 25px;
}
.w2{
  text-align: center;
}
  .m1, .amain
  {
    overflow: scroll;
  }
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
  }
  .m1, .amain
  {
    overflow: scroll;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .m1, .amain
  {
    overflow: scroll;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .m1, .amain
  {
    overflow: scroll;
  }
}
.pic{
  width: 100%;
  height: 500px;
}
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}



